DBHOST = 
DBPORT = 
DBUSER = ''
DBPWD = ''
DBMKTDATA = "GlobalMarketData"
DBPREDICT = ""
DBWEB= ""
TBLOPTCHAIN = "OptionChains"
TBLDAILYOUTPUT = ""
TBLDLYPRICE = "histdailyprice7"
TBLDLYPRED = "GMDailyOutputs"
TBLDAILYPERF = "DailyPerformance_p1"
TBLWEBPREDICT = "predicts_db"
TBLUSRATES = "USRates"
TBLOPTFEATURE = "option_features"
TBLSNAPSHOOT = "snapshot"
TBLFXSNAPSHOT = "FX_snapshot"
TBLHISTFX = "FX_histdaily"
TBLMINUTEPRICE="histminprice"
DBTRADING="Trading"
TBLPORTASSETS="protfolio_assets_info"
PORT_ASSET_CLASS="Equity"
PORT_ASSET_TYPE="Stock"
SP500_PORT_NAME="SP500"
NDX100_PORT_NAME="NDX100"
API_KEY=""
VENDOR='yfinance'
FIRSTTRAINDTE="2010/01/01"
LASTTRAINDATE="2021/10/19"
PROD_LIST_DIR="."
VOL_CON_DIR="/home/twmchoi2022/mysite/perfreports/OptionsReport"
defaultIP = ""
defaultPort = 
POLYGON_API_KEY=""
OptDataEngine=FOC
DEBUG=debug
LOCALRUN="True"
FX_KEY=""
FX_TICKERS=["HKD=X", "JPY=X", "MXN=X", "KRW=X", "CNY=X", "INR=X", "IDR=X","EUR=X","GBP=X","SGD=X","TWD=X","CAD=X","AUD=X", "NZD=X","THB=X","MYR=X"]
SYMBOLLIST="system"
# SYMBOLLIST="test_list"
S3_BUCKET="fin-modal-data"
# Optional Cloudflare R2 settings (S3-compatible). If you set R2_ENDPOINT and keys,
# the script will use R2 instead of AWS S3. Example endpoint: https://<accountid>.r2.cloudflarestorage.com
R2_ENDPOINT=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
DEFAULT_TICKERS="stock_list_global.csv"